{% load static %}
<!DOCTYPE html>
<html lang="zxx">
   <head>
      <title>Resumex</title>
      <!--meta tags -->
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="keywords" content="Job-point Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
         Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
      <script>
         addEventListener("load", function () {
         	setTimeout(hideURLbar, 0);
         }, false);

         function hideURLbar() {
         	window.scrollTo(0, 1);
         }
      </script>
      <!--//meta tags ends here-->
      <!--booststrap-->
      <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" media="all">
      <!--//booststrap end-->
      <!-- font-awesome icons -->
      <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
      <!-- //font-awesome icons -->
      <!--stylesheets-->
      <link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css' media="all">
      <!--//stylesheets-->
      <link href="//fonts.googleapis.com/css?family=Mukta+Malar:400,500,600,700" rel="stylesheet">
      <link href="//fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
       <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
   </head>
   <body>
      <div class="header-outs" id="header">
         <!--banner -->
         <div class="header-w3layouts">
            <!--//navigation section -->
            <nav class="navbar navbar-expand-lg navbar-light">
               <div class="hedder-up">
                  <h1><a class="navbar-brand" href="{% url 'logged_home' %}">Resumex</a></h1>

               </div>
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                  <ul class="navbar-nav ">
                     <li class="nav-item active">
                        <a class="nav-link" href="{% url 'logged_home' %}">Home <span class="sr-only">(current)</span></a>
                     </li>
                     <li class="nav-item">
                        <a href="{% url 'logged_about' %}" class="nav-link ">About</a>
                     </li>
                     <li class="nav-item">
                        <a href="{% url 'logged_contact' %}" class="nav-link">Contact Us</a>
                     </li>

                  </ul>
                  <div class="both-butns">
                     <ul>
                         <li>
                             <div class="contact-hedder">
                             <form method="POST">
                                 {% csrf_token %}
                                 <input type="submit" name="logout" class="btn login-hedder" value="Logout" style="color: white;background-color: #0909ad;font-weight: bold">
                             </form>
                                 </div>
                         </li>
                     </ul>
                  </div>
               </div>
            </nav>
            <!--//navigation section -->
            <div class="clearfix"> </div>
         </div>
      </div>
      <!-- //Navigation -->
      <!-- Slideshow 4 -->
      <div class="slider">
         <div class="callbacks_container">
            <ul class="rslides" id="slider4">
               <li style="float:none; position:relative;">
                  <div class="slider-img one-img">
                     <div class="container">
                        <div class="slider-info ">
                           <h5 style="text-align:center;">Upload your resume here</h5>
                           <div class="slider-sub">
                              <h6></h6>
                           </div>
                            <div>
                                <form enctype="multipart/form-data" method="post" id="uploadform">
                                    {% csrf_token %}

                           <div class="input-group mb-3" style="margin-top:20px;">
                                 <div class="custom-file">
                                    <input type="file" class="custom-file-input" name="document" id="inputGroupFile02" >
                                    <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02" style="border-radius:0.5rem;">Choose file</label>
                                 </div>
                               <script>
                                        $('#inputGroupFile02').on('change',function(){
                                            //get the file name
                                            var fileName = $(this).val();
                                            //replace the "Choose a file" label
                                            $(this).next('.custom-file-label').html(fileName);
                                        })
                               </script>
                              </div>
                            <div class="outs_more-buttn col-lg-4 col-md-4 offset-lg-5 offset-md-5" >
                                <button onclick="myFunction()" style="margin-top:20px; margin-left: 10px;" type="submit" name="upload" class="register-hedder"  data-toggle="modal" data-target="#exampleModalCenter2">
                               Upload <i style="margin-left:5px;" class="fa fa-upload" aria-hidden="true"></i>
                               </button>
                            </div>
                                    </form>
                                </div>
                            <div id="myDIV" style="display: none; z-index:99; width:100%; height:100%; top:0px; left:0px; position: fixed; background-color: white; opacity: 0.9">
                                <img style="z-index:100; position:relative; left:0; right:0;bottom:0; top:100px" src="../static/images/loading2.gif"/>
                            </div>

                           <div class="slider-sub" style="margin-top:100px;">
                              <h6 style="text-align:center; color:white;">{{ error }}</h6>
                               <h6 style="text-align:center; color:white;">{{ position }}</h6>
                               <h3 style="text-align:center; color:blue;"><a href="{{ url }}">{{ download }}</a> </h3>
                               <h6 style="text-align:center; color:white;">{{ warning }}</h6>
                           </div>
                             {% if  flag1 %}
                                <div class="outs_more-buttn col-lg-4 col-md-4 offset-lg-5 offset-md-5" >
                                <button style="margin-top:25px;" type="submit"  class="register-hedder"  data-toggle="modal" data-target="#exampleModalCenter">
                               Analyze <i style="margin-left:5px;" class="fa fa-line-chart" aria-hidden="true"></i>
                               </button>
                            </div>
                            {% endif %}
                            {% if  flag2 %}
                                    <div class="outs_more-buttn col-lg-4 col-md-4 offset-lg-5 offset-md-5" >
                                    <button style="margin-top:25px;" type="submit"  class="register-hedder"  data-toggle="modal" data-target="#example2ModalCenter">
                                   Analyze <i style="margin-left:5px;" class="fa fa-line-chart" aria-hidden="true"></i>
                                   </button>
                                </div>
                            {% endif %}

                        </div>
                     </div>
                  </div>
               </li>
            </ul>
         </div>
         <!-- This is here just to demonstrate the callbacks -->
         <!-- <ul class="events">
            <li>Example 4 callback events</li>
            </ul>-->
         <div class="clearfix"></div>
      </div>
      <!-- //banner -->
      <!-- //about -->
      <section class="about py-lg-4 py-md-3 py-sm-3 py-3">
         <div class="container py-lg-5 py-md-5 py-sm-4 py-4">
            <div class="row w3layout-abt-info text-center">
               <div class="col-lg-3 col-md-6 col-sm-6 abut-list-w3layouts">
                  <div class="abtr-inner-sub">
                     <span class="fa fa-pie-chart" aria-hidden="true"></span>
                     <div class="abt-icon-list-wls mt-3">
                        <h4 class="mb-3">User Friendly</h4>
                        <p>Easy to use, upload and download resumes. </p>
                     </div>
                  </div>
               </div>
               <div class="col-lg-3 col-md-6 col-sm-6 abut-list-w3layouts">
                  <div class="abtr-inner-sub">
                     <span class="fa fa-check" aria-hidden="true"></span>
                     <div class="abt-icon-list-wls mt-3">
                        <h4 class="mb-3">Accuracy</h4>
                        <p>Get the results with a highly accurate prediction. </p>
                     </div>
                  </div>
               </div>
               <div class="col-lg-3 col-md-6 col-sm-6 abut-list-w3layouts">
                  <div class="abtr-inner-sub">
                     <span class="fa fa-area-chart" aria-hidden="true"></span>
                     <div class="abt-icon-list-wls mt-3">
                        <h4 class="mb-3">High Performance</h4>
                        <p>Get the resumes classified within few seconds.</p>
                     </div>
                  </div>
               </div>
               <div class="col-lg-3 col-md-6 col-sm-6 abut-list-w3layouts">
                  <div class="abtr-inner-sub">
                     <span class="fa fa-cubes" aria-hidden="true"></span>
                     <div class="abt-icon-list-wls mt-3">
                        <h4 class="mb-3"> Scalability</h4>
                        <p>Get the job prediction of single as well as a large number of resumes.</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!--//about -->
      <!--service  -->
      <section class="service py-lg-4 py-md-3 py-sm-3 py-3" id="service">
         <div class="container py-lg-5 py-md-5 py-sm-4 py-3">
            <h3 class="title clr text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">Our Services</h3>
            <div class="row top-service pb-lg-4 pb-md-3 pb-2">
               <div class="col-lg-8 col-md-8 service-wthree-info-left" >
                  <div class="mb-lg-5 mb-md-4 mb-3 service-num-left">
                     <h6>1</h6>
                  </div>
                  <h4 class="mb-lg-4 mb-3"> CREATE YOUR PROFILE</h4>
                  <p> Resumex the online resume classification platform, which classifies the resumes into the corresponding job category in which it belongs. Connect with us by simply creating your profile here</p>
               </div>
               <div class="col-lg-4 col-md-4 ser-service gap-service text-center">
                  <div class="service-icon-one">
                     <img src="../static/images/ser1.png" alt="" class="img-fluid">
                  </div>
               </div>
            </div>
            <div class=" my-lg-5 my-md-4 my-sm-4 my-3 row mid-service">
               <div class="col-lg-4 col-md-4 ser-service  text-center">
                  <div class="service-icon-two move-right">
                     <img src="../static/images/ser2.png" alt="" class="img-fluid">
                  </div>
               </div>
               <div class="col-lg-8 col-md-8 service-wthree-info-left">
                  <div class="mb-lg-5 mb-md-4 mb-3 service-num-left">
                     <h6>2</h6>
                  </div>
                  <h4 class="mb-lg-4 mb-3">GET THE RESUMES CLASSIFIED</h4>
                  <p>Resumex provides the facility to upload a single resume document or a set of resumes as a zip file and  the resumes should be of pdf format. In Resumex singly uploaded resumes are classified and provided with their corresponding categories instantly.
And the zip files can be downloaded as a new zip file containing the resumes with their corresponding classified job category</p>
               </div>
            </div>
            <div class="row bottom-service pt-lg-4 pt-md-3 pt-2">
               <div class="col-lg-8 col-md-8 service-wthree-info-left" >
                  <div class="mb-lg-5 mb-md-4 mb-3 service-num-left">
                     <h6>3</h6>
                  </div>
                  <h4 class="mb-lg-4 mb-3">DOWNLOAD RESUME</h4>
                  <p>The category of the uploaded single resume will be displayed forthwith. The set of  uploaded resumes can be downloaded as a zip file, containing  folders  with categorized resume files
</p>
               </div>
               <div class="col-lg-4 col-md-4 ser-service gap-service text-center">
                  <div class="service-icon-three">
                     <img src="../static/images/ser3.png" alt="" class="img-fluid">
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!--//service  -->
      <!--team-->
      <section class="team py-lg-4 py-md-3 py-sm-3 py-3">
         <div class="container py-lg-5 py-md-5 py-sm-4 py-3">
            <h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">Meet Our Team</h3>
            <div class="row pt-lg-5 pt-md-5 pt-sm-4 pt-3">
               <div class="col-lg-3 col-md-6 col-sm-6 ser-icon text-center">
                  <div class="team-position">
                     <div class="icon-wthree-top">
                        <img src="../static/images/t1.jpeg" alt="" class="img-fluid">
                     </div>
                     <div class="team-text-wthree">
                        <h4>
                           Sebin Vincent
                        </h4>
                        <p class="mt-3"> A diligent computer science undergraduate passionate about data engineering and machine learning. Highly-capable leader, who led multiple projects during his academic period and he was the part of INVENTO-18 Tech team. He was an intern at Litmus.</p>
                     </div>
                     <div class="icons-client text-center">
                        <ul>
                           <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                         <!--  <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                           <li><a href="#"><span class="fa fa-rss"></span></a></li>  -->
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="col-lg-3 col-md-6 col-sm-6 ser-icon text-center">
                  <div class="team-position">
                     <div class="icon-wthree-top">
                        <img src="../static/images/an.jpg" alt="" class="img-fluid">
                     </div>
                     <div class="team-text-wthree">
                        <h4>
                           Anjali Pradeep
                        </h4>
                        <p class="mt-3"> A meticulous individual who is willing to contribute ideas and learn new things. Computer science undergraduate and she has been consistently involved in various elements of machine learning. She was an intern at Keltron IT Business group. She is currently the secretary of FOSS Cell GEC Palakkad.
</p>
                     </div>
                     <div class="icons-client text-center">
                        <ul>
                      <!--     <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                           <li><a href="#"><span class="fa fa-twitter"></span></a></li>
-->                           <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="col-lg-3 col-md-6 col-sm-6 ser-icon text-center">
                  <div class="team-position">
                     <div class="icon-wthree-top">
                        <img src="../static/images/ja.jpg" alt="" class="img-fluid">
                     </div>
                     <div class="team-text-wthree">
                        <h4>
                            Jaseena O V
                        </h4>
                        <p class="mt-3">Enthusiastic, motivated undergraduate in computer science, who likes to take initiative and seek out new challenges. Get the best intern award at Keltron IT Business group. Active IEEE member, involved in coordinating various events conducted by IEEE.
</p>
                     </div>
                     <div class="icons-client text-center">
                        <ul>
              <!--             <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                           <li><a href="#"><span class="fa fa-twitter"></span></a></li>   -->
                           <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="col-lg-3 col-md-6 col-sm-6 ser-icon text-center">
                  <div class="team-position">
                     <div class="icon-wthree-top">
                        <img src="../static/images/t4.JPG" alt="" class="img-fluid">
                     </div>
                     <div class="team-text-wthree">
                        <h4>
                           Sukanya V N
                        </h4>
                        <p class="mt-3">An exceptionally skilled computer science undergraduate who completed internships with Youth Empowerment Organization, I-Auto Tech LLP and Keltron IT Business Group during her academic period. She was coordinated INVENTO-18 Registration team.</p>
                     </div>
                     <div class="icons-client text-center">
                        <ul>
                   <!--        <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                           <li><a href="#"><span class="fa fa-twitter"></span></a></li>  -->
                           <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!--//team-->
      <!--Testmonials-->
      <section class="clients py-lg-4 py-md-3 py-sm-3 py-3">
         <div class="container py-lg-5 py-md-5 py-sm-4 py-3">
            <h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">Testimonials</h3>
            <div class="testmonials text-center">
               <div id="blogCarousel" class="carousel slide" data-ride="carousel">
                  <ol class="carousel-indicators">
                     <li data-target="#blogCarousel" data-slide-to="0" class="active"></li>
                     <li data-target="#blogCarousel" data-slide-to="1">
                     <li data-target="#blogCarousel" data-slide-to="2">
                  </ol>

                  <!-- Carousel items -->

                  <div class="carousel-inner">
                     <div class="carousel-item active">
                        <div class="row">
                           <div class="col-lg-4 clients-gride-img ">
                              <div class="clients-gride-grid">
                                 <div class="mb-3 clients-w3pvt-img">
                                    <img src="../static/images/c1.jpg" alt=" " class="img-fluid">
                                 </div>
                                 <div class="clients-color-wthree text-center">
                                    <p>I started a new company and call for the job seekers was through online. So I had to get a lot of resumes. It was very tough to categorize them into as I needed. This helps me to come out with these problems.

                                    </p>
                                    <div class="clients-txt-wls">
                                       <h4 class="mt-3">George Mathew</h4>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-lg-4 clients-gride-img ">
                              <div class="clients-gride-grid">
                                 <div class="mb-3 clients-w3pvt-img">
                                    <img src="../static/images/c2.jpg" alt=" " class="img-fluid">
                                 </div>
                                 <div class="clients-color-wthree text-center">
                                    <p>I simply tested with my resume. I am an accountant, I upload my resume which gives the accurate result as an accountant.
                                    </p>
                                    <div class="clients-txt-wls">
                                       <h4 class="mt-3">Joseph Samuel</h4>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-lg-4 clients-gride-img ">
                              <div class="clients-gride-grid">
                                 <div class="mb-3 clients-w3pvt-img">
                                    <img src="../static/images/c3.jpg" alt=" " class="img-fluid">
                                 </div>
                                 <div class="clients-color-wthree text-center">
                                    <p>The site provides a very good experience. I am a part of the HR manager, so it's my duty to choose the right candidate for the right position. So this site help to come out of these troubles.

                                    </p>
                                    <div class="clients-txt-wls">
                                       <h4 class="mt-3 ">Alex Joy</h4>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>

                     <!--.row-->

                      <div class="carousel-item">
                        <div class="row">
                           <div class="col-lg-4 clients-gride-img">
                              <div class="clients-gride-grid">
                                 <div class="mb-3 clients-w3pvt-img">
                                    <img src="../static/images/c1.jpg" alt=" " class="img-fluid">
                                 </div>
                                 <div class="clients-color-wthree text-center">
                                    <p>I started a new company and call for the job seekers was through online. So I had to get a lot of resumes. It was very tough to categorize them into as I needed. This helps me to come out with these problems.

                                    </p>
                                    <div class="clients-txt-wls">
                                       <h4 class="mt-3">George Mathew</h4>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-lg-4 clients-gride-img">
                              <div class="clients-gride-grid">
                                 <div class="mb-3 clients-w3pvt-img">
                                    <img src="../static/images/c2.jpg" alt=" " class="img-fluid">
                                 </div>
                                 <div class="clients-color-wthree text-center">
                                    <p>I simply tested with my resume. I am an accountant, I upload my resume which gives the accurate result as an accountant.
                                    </p>
                                    <div class="clients-txt-wls">
                                       <h4 class="mt-3">Joseph Samuel</h4>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-lg-4 clients-gride-img">
                              <div class="clients-gride-grid">
                                 <div class="mb-3 clients-w3pvt-img">
                                    <img src="../static/images/c3.jpg" alt=" " class="img-fluid">
                                 </div>
                                 <div class="clients-color-wthree text-center">
                                    <p>The site provides a very good experience. I am a part of the HR manager, so it's my duty to choose the right candidate for the right position. So this site help to come out of these troubles.

                                    </p>
                                    <div class="clients-txt-wls">
                                       <h4 class="mt-3 ">Alex Joy</h4>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!--.row-->
                     <!--.item-->
                     <div class="carousel-item">
                        <div class="row">
                           <div class="col-lg-4 clients-gride-img ">
                              <div class="clients-gride-grid">
                                 <div class="mb-3 clients-w3pvt-img">
                                    <img src="../static/images/c1.jpg" alt=" " class="img-fluid">
                                 </div>
                                 <div class="clients-color-wthree text-center">
                                    <p>I started a new company and call for the job seekers was through online. So I had to get a lot of resumes. It was very tough to categorize them into as I needed. This helps me to come out with these problems.

                                    </p>
                                    <div class="clients-txt-wls">
                                       <h4 class="mt-3">George Mathew</h4>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-lg-4 clients-gride-img">
                              <div class="clients-gride-grid">
                                 <div class="mb-3 clients-w3pvt-img">
                                    <img src="../static/images/c2.jpg" alt=" " class="img-fluid">
                                 </div>
                                 <div class="clients-color-wthree text-center">
                                    <p>I simply tested with my resume. I am an accountant, I upload my resume which gives the accurate result as an accountant.
                                    </p>
                                    <div class="clients-txt-wls">
                                       <h4 class="mt-3">Joseph Samuel</h4>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-lg-4 clients-gride-img">
                              <div class="clients-gride-grid">
                                 <div class="mb-3 clients-w3pvt-img">
                                    <img src="../static/images/c3.jpg" alt=" " class="img-fluid">
                                 </div>
                                 <div class="clients-color-wthree text-center">
                                    <p>The site provides a very good experience. I am a part of the HR manager, so it's my duty to choose the right candidate for the right position. So this site help to come out of these troubles.
                                  </p>
                                    <div class="clients-txt-wls">
                                       <h4 class="mt-3 ">Alex Joy</h4>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!--.row-->
               </div>
            </div>
         </div>
         <!--carousel-inner-->
      </section>

      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-hidden="true">
         <div class="modal-dialog modal-dialog-centered" role="document" >
            <div class="modal-content" >
               <div class="modal-header text-center">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
               </div>
                <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      var newdata={{ chart|safe }};

      function drawChart() {

        var data = google.visualization.arrayToDataTable(newdata);

        var options = {
          title: '',
            is3D: true,
            sliceVisibilityThreshold: .05,
            chartArea:{left:100,top:10,width:'200%',height:'200%'}
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
    </script>
               <div class="modal-body" style="height:400px ! important;">
                  <div class="login px-4 py-4 mx-auto mw-100" >
                     <h5 class="text-center mb-4">Resume Distribution </h5>
                      <div id="piechart" style="width: 900px; height: 500px;"></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="modal fade" id="example2ModalCenter" tabindex="-1" role="dialog" aria-hidden="true">
         <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
               <div class="modal-header text-center">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>

                  </button>
               </div>
               <div class="modal-body">
                  <div class="login px-4 py-4 mx-auto mw-100">
                     <h5 class="text-left mb-4">Name : </h5>
                      <h5 class="text-left mb-4">Name : </h5>
                      <h5 class="text-left mb-4">Name : </h5>
                      <h5 class="text-left mb-4">Name : </h5>
                      <h5 class="text-left mb-4">Name : </h5>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!--//Testmonials-->
      <!--stats-->
<!--
      <section class="stats py-lg-4 py-md-3 py-sm-3 py-3">
         <div class="container py-lg-5 py-md-5 py-sm-4 py-3">
            <h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">Fun Facts</h3>
            <div class="row">
               <div class="col-lg-5 col-md-5">
                  <div class="jst-must-info text-center">
                     <div class="row stats-info">
                        <div class="col-md-6 col-sm-6 col-6 stats-grid-1">
                           <div class=" stats-grid">
                              <div class="counter">2045</div>
                              <div class="stat-info">
                                 <h5 class="pt-2">Experience </h5>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-6 stats-grid-2">
                           <div class=" stats-grid">
                              <div class="counter">350</div>
                              <div class="stat-info">
                                 <h5 class="pt-2"> Staff</h5>
                              </div>
                           </div>
                        </div>
                        <div class="mt-lg-4 mt-md-3 mt-3 col-md-6 col-sm-6 col-6 stats-grid-3">
                           <div class=" stats-grid">
                              <div class="counter">1000</div>
                              <div class="stat-info">
                                 <h5 class="pt-2"> Coffee</h5>
                              </div>
                           </div>
                        </div>
                        <div class="mt-lg-4 mt-md-3 mt-3 col-md-6 col-sm-6 col-6 stats-grid-4">
                           <div class=" stats-grid">
                              <div class="counter">650</div>
                              <div class="stat-info">
                                 <h5 class="pt-2"> Projects </h5>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-lg-7 col-md-7 left-side-w3layouts">
                  <div class="iteam-bar">
                     <h5 class="pb-3">HR Magazine</h5>
                     <div class="progress my-bar">
                        <div class="progress-bar progress-bar-striped " role="progressbar" style="width: 75%"></div>
                     </div>
                  </div>
                  <div class="iteam-bar pt-lg-4 pt-3">
                     <h5 class="pb-3">Events & Blogs</h5>
                     <div class="progress my-bar">
                        <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 80%"></div>
                     </div>
                  </div>
                  <div class="iteam-bar pt-lg-4  pt-3">
                     <h5 class="pb-3">Social Media</h5>
                     <div class="progress my-bar">
                        <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 85%"></div>
                     </div>
                  </div>
                  <div class="iteam-bar pt-lg-4 pt-3">
                     <h5 class="pb-3">Requirements</h5>
                     <div class="progress my-bar">
                        <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 100%"></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      -->
      <!--//stats-->
      <!--footer-->
      <!--
      <footer class="buttom-footer py-lg-5 py-md-4 py-sm-3 py-3">
         <div class="container-fluid py-3">
            <h3 class="title clr text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">Newsletter</h3>
           -->
            <!--subscribe-->
      <!--
            <div class="mb-lg-5 mb-md-4 mb-3 sub-wthree-form">
               <form>
                  <div class="form-group email-sub-w3layouts">
                     <input type="email" class="form-control email-sub-w3layouts" placeholder="Email" required="">
                  </div>
                  <div class="pt-sm-3 pt-2 text-center">
                     <button type="submit" class="btn subscrib-btnn">Subscribe</button>
                  </div>
               </form>
            </div>
            -->
            <!--//subscribe-->
      <!--
            <div class="row">
               <div class="col-lg-7 col-md-7">
                  <div class="headder-logo-icon text-center">
                     <h2><a href="index.html">Job-point</a></h2>
                  </div>
                  <div class="footer-bottom py-lg-4 py-md-3 py-2 text-center">
                     <p>©2018 job-point. All Rights Reserved | Design by <a href="http://www.W3Layouts.com" target="_blank">W3Layouts</a></p>
                  </div>
               </div>
               <div class="col-lg-5 col-md-5">
                  <div class="buttom-nav py-2">
                     <nav class="border-line">
                        <ul class="nav justify-content-center">
                           <li class="nav-item active">
                              <a class="nav-link" href="{% url 'logged_home' %}">Home <span class="sr-only">(current)</span></a>
                           </li>
                           <li class="nav-item">
                              <a href="{% url 'logged_about' %}" class="nav-link ">About</a>
                           </li>
                           <li class="nav-item">
                              <a href="{% url 'logged_contact' %}" class="nav-link">Contact</a>
                           </li>
                        </ul>
                     </nav>
                  </div>
                  <div class="icons text-center">
                     <ul>
                        <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                        <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                        <li><a href="#"><span class="fa fa-rss"></span></a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </footer>

      //footer-->
      <!--/Login-->
      <!--signin deleted from here-->
      <!--//Login-->
      <!--/Register-->

      <!--deleted reg section from here-->

      <!--//Register-->
      <!--js working-->
      <!--
      <script src='../static/js/jquery-2.2.3.min.js'></script> -->
      <!--//js working-->
      <!--responsiveslides banner-->

      <script src="../static/js/responsiveslides.min.js"></script>

      <script>
         // You can also use "$(window).load(function() {"
         $(function () {
         	// Slideshow 4
         	$("#slider4").responsiveSlides({
         		auto:true,
         		pager:false,
         		nav:true,
         		speed: 900,
         		namespace: "callbacks",
         		before: function () {
         			$('.events').append("<li>before event fired.</li>");
         		},
         		after: function () {
         			$('.events').append("<li>after event fired.</li>");
         		}
         	});

         });
      </script>
      <!--// responsiveslides banner-->
      <!--About OnScroll-Number-Increase-JavaScript -->

      <script src="../static/js/jquery.waypoints.min.js"></script>
      <script src="../static/js/jquery.countup.js"></script>
      <script>
         $('.counter').countUp();
      </script>

      <!-- //OnScroll-Number-Increase-JavaScript -->
      <!-- start-smoth-scrolling -->
      <script src="../static/js/move-top.js"></script>
      <script src="../static/js/easing.js"></script>
      <script>
          function myFunction() {
              var x = document.getElementById("myDIV");
              if (x.style.display === "none") {
                x.style.display = "block";
              } else {
                x.style.display = "none";
              }
              var y = document.getElementById("uploadform");
              y.style.display = "none";

            }
         jQuery(document).ready(function ($) {
         	$(".scroll").click(function (event) {
         		event.preventDefault();
         		$('html,body').animate({
         			scrollTop: $(this.hash).offset().top
         		}, 900);
         	});
         });
      </script>
      <!-- start-smoth-scrolling -->
      <!-- here stars scrolling icon -->
      <script>
         $(document).ready(function () {

         	var defaults = {
         		containerID: 'toTop', // fading element id
         		containerHoverID: 'toTopHover', // fading element hover id
         		scrollSpeed: 1100,
         		easingType: 'linear'
         	};


         	$().UItoTop({
         		easingType: 'easeOutQuart'
         	});

         });

      </script>
      <!-- //here ends scrolling icon -->
      <!--bootstrap working-->
      <script src="../static/js/bootstrap.min.js"></script>
      <!-- //bootstrap working-->
   </body>
</html>